/* =============
    Base
============= */

.large-images{
    width:100%;
    display:block;
}

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
     ". content ."
    ;

    @include xl{
        grid-template-columns: auto 1140px auto;
    }

    @include xxl{
        grid-template-columns: auto 1320px auto;
    }

    .content{
        grid-area:content;
    }

}

ul {
    padding: 0px;
    list-style-type: none;
}

p {
    padding:0px;
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    padding:0px;
    margin: 0px;
}

.photos {

    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
     "photo1"
     "photo2"
     "photo3"
    ;

    .photo1{
        grid-area:photo1;
    }

    .photo2{
        grid-area:photo2;
    }

    .photo3{
        grid-area:photo3;
    }
}

.search{
    display:grid;
    grid-template-columns: 16px auto auto 16px;
    grid-template-areas: 
     ". bar enter ."
    ;

    .bar{
        grid-area:bar;
    }

    .enter{
        grid-area:enter;
    }

}

@include sm{

}

@include md{

}

@include lg{

}

@include xl{

}

@include xxl{

}

