/* =============
    cards
============= */

.whats-new{

  padding: 16px 0px 24px 0px;

  @include md{
    padding:33px 0px 38px 0px;
  }

  @include lg{
    padding:42px 0px 56px 0px;
  }

  @include xl{
    padding:55px 0px 64px 0px;
  }

  .container{

    h3{
      padding: 0px 0px 16px 0px;

      @include md{
        padding:0px 0px 20px 0px;
      }

      @include lg{
        padding:0px 0px 15px 0px;
      }

      @include xl{
        padding:0px 0px 15px 0px;
      }
    }
  }

    .whats-new-articles{

      @include md{
        display:grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        ". articles ."
        ;
      }

      @include xl{
        grid-template-columns: auto 1140px auto;
      }

      @include xxl{
        grid-template-columns: auto 1320px auto;
      }

      ul.article-grid{

        grid-area:articles;
        display:grid;
        grid-template-columns: auto;
        grid-template-areas:
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        ;

        margin:0px 0px;
        padding:0px 0px;

        @include md{
          grid-area:articles;
          display:grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-areas:
          "a1 a1 a2 a2"
          "a3 a3 a4 a4"
          ". a5 a5 ."
          ;
        }

        @include lg{
          grid-area:articles;
          display:grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-areas:
          "a1 a1 a2 a2 a3 a3"
          ". a4 a4 a5 a5 ."
          ;
        }

        li{

          .container{

            background-color: #F0F0F0;
            padding:9px 9px 19px 9px;
            margin:0px 0px 16px 0px;

            @include md{
              background-color: #F0F0F0;
              padding:18px 18px 24px 18px;
              margin:0px 0px 0px 0px;
              grid-template-columns: 15px auto 15px;
            }

            @include lg{
              background-color: #F0F0F0;
              padding:18px 18px 24px 18px;
              margin:0px 0px 0px 0px;
              grid-template-columns: 15px auto 15px;
            }

            @include xl{
              background-color: #F0F0F0;
              padding:18px 18px 24px 18px;
              margin:0px 0px 0px 0px;
              grid-template-columns: 15px auto 15px;
            }

          }

          &.article-1{

            grid-area:a1;

            @include md{
              padding:0px 8px 16px 0px;
            }

            @include lg{
              padding:0px 8px 16px 0px;
            }
          }

          &.article-2{

            grid-area:a2;

            @include md{
              padding:0px 0px 16px 8px;
            }

            @include lg{
              padding:0px 8px 16px 8px;
            }
          }

          &.article-3{

            grid-area:a3;

            @include md{
              padding:0px 8px 16px 0px;
            }

            @include lg{
              padding:0px 0px 16px 8px;
            }
          }

          &.article-4{

            grid-area:a4;

            @include md{
              padding:0px 0px 16px 8px;
            }

            @include lg{
              padding:0px 8px 0px 0px;
            }
          }

          &.article-5{

            grid-area:a5;

            @include md{
              padding: 0px 0px 0px 0px;
            }

            @include lg{
              padding:0px 0px 0px 8px;
            }
          }
        }
      }
    }

    .whats-new-title{

      padding:0px 0px 13px 0px;

      @include md{
        padding:0px 0px 21px 0px;
      }
    
      @include lg{
        padding:0px 0px 22px 0px;
      }
    
      @include xl{
        padding:0px 0px 11px 0px;
      }
    }
}