/* =============
    footer
============= */

footer{

    background: #2C2C2C;

    &.foot{

        @include md{
            display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "f1 f2"
            "f1 f3"
            ;

            .locations{
                grid-area:f1;
            }

            .form{
                grid-area:f2;
            }

            .socials{
                grid-area:f3;
            }
        }

        @include lg{
            display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "f1 f2 f3"
            "f1 . ."
            ;

            .locations{
                grid-area:f1;
            }

            .form{
                grid-area:f2;
            }

            .socials{
                grid-area:f3;
            }
        }

        @include xl{
            display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "f0 f1 f2 f3 f4"
            "f0 f1 . . f4"
            ;

            .locations{
                grid-area:f1;
            }

            .form{
                grid-area:f2;
            }

            .socials{
                grid-area:f3;
            }

            .f0{
                width: 206px;
                grid-area:f0;
            }

            .f4{
                width: 206px;
                grid-area:f4;
            }
        }
    }
}