/* =============
    gallery
============= */

.gallery{

    ul{
        list-style:none;
        padding:0px;

        @include md{
            display:grid;
            grid-template-columns: 50% auto;
        }

        @include lg{
            display:grid;
            grid-template-columns: 60% auto;
        }

        @include xl{
            display:grid;
            grid-template-areas:
            "g1 g2"
            "g1 g3";
        }
    }

    li{
        &.photo1{
            background-image: url("../img/gallery/ComedyofErrorsImg.jpeg");
            background-size: cover;

            @include xl{
                grid-area:g1;
            }

            img{
                display:none;
            }
        }

        &.photo2{
            @include xl{
                grid-area:g2;
            }
        }

        &.photo3{

            display:block;

            @include md{
                display:none;
            }

            @include lg{
                display:none;
            }

            @include xl{
                display:block;
                grid-area:g3;
            }
        }
    }
}