/* =============
    hero
============= */

.hero{

    &.hero-content{

        @include md {
            display:grid;
        grid-template-columns: 40% 60%;
        }

        @include lg {
        grid-template-columns: 50% 50%;
        }

        .hero-content-left.container{
            background-color: #E38E00;
            @include lg {
                grid-template-columns: auto auto 16px;
            }
        }
        .hero-content-right.container{
            background-color: #FDB846;
            @include lg {
                grid-template-columns: 16px auto auto;
            }
        }

    }
}